---
import "../assets/css/main.css";
import SkillCard from "../components/SkillCard";
import ProjectCard from "../components/ProjectCard";
import type { SkillCardProps } from "../utils/SkillCardProps";
import type { ProjectCardProps } from "../utils/ProjectCardProps";


const skills:SkillCardProps[] = [
	{
		skillText:"html5",
		bgColor:"shadow-[#e44d26]",
		logoClass:"logos--html-5",
	},
	{
		skillText:"css",
		bgColor:"shadow-[#264de4]",
		logoClass:"logos--css-3",
	},
	{
		skillText:"javascript",
		bgColor:"shadow-[#f7df1e]",
		logoClass:"logos--javascript",
	},
	{
		skillText:"laravel",
		bgColor:"shadow-[#ff2d20]",
		logoClass:"logos--laravel",
	},
	{
		skillText:"tailwindcss",
		bgColor:"shadow-[#2298bd]",
		logoClass:"logos--tailwindcss-icon",
	},
]

const projects:ProjectCardProps[] = [
	{
		title:"Laravel To Do List",
		description:"Sitio web responsive donde se pueden crear,eliminar, editar y marcar como realizadas una lista de tareas. ademas cuenta con autenticacion de usuarios utilizado breeze.",
		tecnologies:["laravel","livewire","breeze","tailwindcss"],
		img:"https://raw.githubusercontent.com/Ezebed/Laravel-To-Do-List/main/public/img/example.png",
		siteUrl:"",
		git:"https://github.com/Ezebed/Laravel-To-Do-List"
	}
]

---

<html lang="es" class="scroll-smooth">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hack-font/3.3.0/web/hack.min.css">
		<title>Ezebed</title>
	</head>
	<body class="background text-white space-y-20 snap-mandatory">
		<div class="w-full h-screen snap-center bg-[rgba(13_13_13_/.6)] flex flex-col items-center justify-center space-y-4 ">
			
			<h1 class="font-bold text-7xl">Obed Ezequiel <span class="text-indigo-500">Villegas Flores</span></h1>
			<p class="text-3xl">Frontend developer</p>
			
		</div>

		<section class="px-8 font-bold h-fit">
			<h2 class="uppercase italic text-3xl">Skills</h2>

			<div class="flex space-x-4 justify-center my-4">
				{skills.map((skill:SkillCardProps) => (<SkillCard {...skill} />))}
			</div>
		</section>

		<section class="px-8 mb-8 space-y-4 h-fit">
			<h2 class="text-3xl uppercase font-bold">proyectos</h2>

			<div class="flex flex-col justify-center space-y-4 m-b-10">
				{projects.map((project:ProjectCardProps) => (<ProjectCard {...project} />))}
			</div>
		</section>

		<footer class="py-2 bg-[rgba(13_13_13_/.6)] flex justify-center space-x-4">
			<p><strong>&copy</strong> 2024 Obed Villegas</p>
			<a class="simple-icons--github text-xl" href="https://github.com/Ezebed" target="_blank"></a>
			<a class="simple-icons--linkedin text-xl" href="https://www.linkedin.com/in/obed-villegas-aa537b132" target="_blank"></a>
		</footer>
	</body>
</html>
