---
import "../assets/css/main.css";
import SkillCard from "@/components/SkillCard";
import ProjectCard from "@/components/ProjectCard";
import CertificateCard from "@/components/CertificateCard";
import type { SkillCardProps } from "@/utils/SkillCardProps";
import type { ProjectCardProps } from "@/utils/ProjectCardProps";
import type { CertificateCardProps } from "@/utils/CertificateCardProps";

import { projects, skills, certificates } from "@/utils/constants";

// script

// const courseImg:string = "../../public/img/cursos/curso-de-laravel.webp"
---

<html lang="es" class="scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/hack-font/3.3.0/web/hack.min.css"
    />
    <title>Ezebed</title>
  </head>
  <body class="background snap-mandatory space-y-20 text-white">
    <div
      class="relative flex h-screen w-full snap-center flex-col items-center justify-center space-y-4 overflow-hidden bg-[rgba(13_13_13_/.6)]"
    >
      <h1 class="text-center text-7xl font-bold">
        Obed Ezequiel <span class="text-indigo-500">Villegas Flores</span>
      </h1>
      <p class="text-3xl">Frontend developer</p>

      <div
        class="flex h-fit w-10/12 flex-wrap items-center justify-center gap-4 rounded-3xl border border-slate-200 bg-[rgba(255_255_255_/.1)] p-4 backdrop-blur-sm md:w-fit"
      >
        <a
          class="simple-icons--whatsapp text-5xl md:text-3xl"
          href="https://wa.me/584163351489"
          target="_blank"></a>
        <a
          class="simple-icons--github text-5xl md:text-3xl"
          href="https://github.com/Ezebed"
          target="_blank"></a>
        <a
          class="simple-icons--linkedin text-5xl md:text-3xl"
          href="https://www.linkedin.com/in/obed-villegas-aa537b132"
          target="_blank"></a>
        <a
          href="mailto:obedvillegas@protonmail.com"
          target="_blank"
          class="simple-icons--protonmail text-5xl md:text-3xl"></a>
      </div>

      <div class="stars">
        <p class="star star-1"></p>
        <p class="star star-2"></p>
        <p class="star star-3"></p>
        <p class="star star-4"></p>
        <p class="star star-5"></p>
        <p class="star star-6"></p>
      </div>
    </div>

    <section class="h-fit px-8 font-bold">
      <h2 class="text-3xl uppercase italic">Skills</h2>

      <div class="my-4 flex flex-wrap justify-center gap-x-4 gap-y-2">
        {skills.map((skill: SkillCardProps) => <SkillCard {...skill} />)}
      </div>
    </section>

    <section class="mb-8 h-fit space-y-4 px-8">
      <h2 class="text-3xl font-bold uppercase italic">proyectos</h2>

      <div class="m-b-10 flex flex-wrap gap-4">
        {
          projects.map((project: ProjectCardProps) => (
            <ProjectCard {...project} />
          ))
        }
      </div>
    </section>

    <section class="space-y-4 px-8">
      <h2 class="text-3xl font-bold uppercase italic">Certificados</h2>

      <div
        class="flex flex-col flex-wrap justify-center gap-x-2 gap-y-4 md:flex-row"
      >
        {
          certificates.map((certificate: CertificateCardProps) => (
            <CertificateCard {...certificate} />
          ))
        }
      </div>
    </section>

    <section class="space-y-4 px-8">
      <h2 class="text-3xl font-bold uppercase italic">contactame</h2>

      <address class="flex flex-col gap-y-2 rounded-lg bg-[#222] p-4">
        <a
          href="https://wa.me/584163351489"
          target="_blank"
          class="flex h-8 w-fit items-center gap-x-2 px-2 py-1"
        >
          <span class="simple-icons--whatsapp text-lg"></span>
          <p class="text-lg capitalize">+58 416-3351489</p>
        </a>
        <a
          href="https://github.com/Ezebed"
          target="_blank"
          class="flex h-8 w-fit items-center gap-x-2 px-2 py-1"
        >
          <span class="simple-icons--github text-lg"></span>
          <p class="text-lg capitalize">github</p>
        </a>
        <a
          href="https://www.linkedin.com/in/obed-villegas-aa537b132"
          target="_blank"
          class="flex h-8 w-fit items-center gap-x-2 px-2 py-1"
        >
          <span class="simple-icons--linkedin text-lg"></span>
          <p class="text-lg capitalize">Linkedin</p>
        </a>
        <a
          href="mailto:obedvillegas@protonmail.com"
          target="_blank"
          class="flex h-8 w-fit items-center gap-x-2 px-2 py-1"
        >
          <span class="simple-icons--protonmail text-lg"></span>
          <p class="text-md sm:text-lg">obedvillegas@protonmail.com</p>
        </a>
      </address>
    </section>

    <footer class="flex justify-center space-x-4 bg-[rgba(13_13_13_/.6)] py-2">
      <p><strong>&copy</strong> 2024 Obed Villegas</p>
      <a
        class="simple-icons--whatsapp text-xl"
        href="https://wa.me/584163351489"
        target="_blank"></a>
      <a
        class="simple-icons--github text-xl"
        href="https://github.com/Ezebed"
        target="_blank"></a>
      <a
        class="simple-icons--linkedin text-xl"
        href="https://www.linkedin.com/in/obed-villegas-aa537b132"
        target="_blank"></a>
      <a
        href="mailto:obedvillegas@protonmail.com"
        target="_blank"
        class="simple-icons--protonmail text-xl"></a>
    </footer>

    <script>
      import { elementObserver } from "../assets/ts/elementObserver";

      elementObserver(".waiter", "slide-in");
    </script>
  </body>
</html>
